{% extends "layout.html" %}

{% block title %}
  Tambah Data Pelajar - PJays KoopSystem
{% endblock %}

{% block content %}

<div class="pagetitle">
  <h1>Tambah Pelajar Kumpulan</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Muka Surat</li>
      <li class="breadcrumb-item">Pelajar</li>
      <li class="breadcrumb-item active">Tambah Data</li>
      <li class="breadcrumb-item active">Kumpulan</li>
    </ol>
  </nav>
</div><!-- Penutup Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <!-- Button Group -->
      <div class="btn-nav" style="position: relative;">
        <a href="{% url 'register_student' %}">
          <button type="button" class="btn-Individu ms-2">Individu</button>
        </a>
        <a href="{% url 'register_student_kumpulan_page' %}">
          <button type="button" class="btn-Kumpulan active ms-2">Kumpulan</button>
        </a>
      </div><!-- Penutup Button Group -->

      <div class="card">
        <div class="card-body">

          <!-- General Form Elements -->
          <form action="{% url 'register_student_kumpulan_page' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card">
              <div class="card-body">
                <fieldset>
                  <h5 class="card-title">Muat Naik</h5>
                  <div class="form-group">
                    <label for="file-upload">Upload Excel File:</label>
                    <input type="file" id="file-upload" name="file_upload" accept=".xlsx, .xls" class="form-control">
                  </div>
                  <br>
                  <div class="form-btn">
                    <button type="submit" class="btn btn-primary">Muat Naik</button>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Maklumat Data Pelajar</h5>
                <!-- Render form fields if you have additional form elements -->
                {{ form.as_p }}

                <!-- Table container with scrollpane -->
                <div class="table-scrollpane">
                  <!-- Table with stripped rows -->
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th>Bil.</th>
                        <th>ID member</th>
                        <th>No. IC</th>
                        <th>Nama</th>
                        <th>Jantina</th>
                        <th>Alamat Rumah</th>
                        <th>Tingkatan</th>
                        <th>Kelas</th>
                        <th>Ahli</th>
                        <th>Status Saham</th>
                        <th>Modal Syer(RM)</th>
                        <th data-type="date" data-format="MM/DD/YYYY">Tarik Pendaftaran</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in member %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.member_id }}</td>
                        <td>{{ i.ic_pelajar }}</td>
                        <td>{{ i.nama }}</td>
                        <td>{{ i.jantina }}</td>
                        <td>{{ i.alamat_rumah }}</td>
                        <td>{{ i.tingkatan }}</td>
                        <td>{{ i.kelas }}</td>
                        <td>{{ i.ahli }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.modal_syer }}</td>
                        <td>{{ i.tarikh_daftar }}</td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td colspan="12" class="text-center">⚠️ Tiada data pelajar</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                </div>
                <!-- End Table container with scrollpane -->
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
